<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="Db" connectionString="Server=OKURTULMUS\S2019; Database=ManavPOS; uid=sa; pwd=Valeria#7;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
